body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: white;
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

h6 {
    color: aquamarine;
    font-size: 16;
    text-decoration: underline;
}

h2 {
    color: white;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

h4 {
    color: grey;
    font-family: Verdana;
    font-size: 21px;
}